@using ItsaWeb.HtmlHelpers

<!DOCTYPE html>
<!--[if lt IE 7]> 
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]>    
    <html class="no-js lt-ie9" lang="en"> 
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="service" type="application/atomsvc+xml" href="@Url.Action("GetServiceDocument", "Atom", new { }, HttpContext.Current.Request.Url.Scheme)" />
    <link rel="shortcut icon" href="~/favicon.ico">
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/less")
    @Styles.Render("~/bundles/content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:40px 0">
    <div>
    </div>
    <div>
        <h2>@TempData["message"]</h2>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/signalr")
    <script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
    @Scripts.Render("~/bundles/other")
    @Scripts.Render("~/bundles/itsa")
    @RenderSection("scripts", required: false)
</body>
        @Html.IncludeResources()
</html>
