@using ItsaWeb.Resources
@model dynamic

@{
    ViewBag.Title = Resources.ItsaHomeTitle;
}

<style>
   
</style>

<h2>title</h2>
<div id="adminsection">
    <ul data-bind="visible: isAuthenticated">
        <li>@Html.ActionLink("Deregister", "Delete", "User", new { }, new { id = "deregister" })</li>
        <li>@Html.ActionLink("Logout", "Delete", "Session", new { }, new { id = "logout" })</li>
    </ul>
    <ul data-bind="visible: !isAuthenticated()">
        <li>@Html.ActionLink("Login", "New", "Session", new { }, new { id = "login" })</li>
    </ul>
    <div data-bind="visible: isAuthenticated">
        <h1 id="username" data-bind="text: name"></h1>
        <div>
            <input type="button" id="addBlogPost" data-bind="click: addBlogPost" value="@Resources.AddBlogPostTitle" />
        </div>
        <div id="createBlogPost" data-bind="animate: isCreatingBlogPost()" style="min-height: 300px; border: solid 1px black">
            <div>Title:</div>
            <div>
                <input type="text" id="postTitle" data-bind="value: newPost.postTitle, valueUpdate: 'afterkeydown'"  class="formfields"/>
            </div>
            <div>Entry:</div>
            <div>
                <textarea id="postBody" data-bind="value: newPost.postBody, valueUpdate: 'afterkeydown'" class="formfields"></textarea>
            </div>
            <div>
                <input type="button" value="@Resources.CreateBlogPostTitle" data-bind="click: newPost.add"/>
            </div>
        </div>
    </div>
</div>

<div id="mainsection">
    <ul data-bind="foreach: posts">
        <li data-bind="value: postTitle"></li>
    </ul>
</div>